<div class="container">
  <div class="row main">
    <div class="main-login main-center">
      <h5>Sign up once and watch any of our free demos.</h5>
      <form #createAccountForm="ngForm" (ngSubmit)="onSubmit(createAccountForm)">

        <div class="form-group">
          <label for="firstName" class="cols-sm-2 control-label">First Name</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
              <input type="text" class="form-control" name="firstName" id="firstName" placeholder="Enter your First name" [(ngModel)]="model.firstName" />
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="lastName" class="cols-sm-2 control-label">Last name</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
              <input type="text" class="form-control" name="lastName" id="lastName" placeholder="Enter Last name" [(ngModel)]="model.lastName" />
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="email" class="cols-sm-2 control-label">Your Email</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
              <input type="text" class="form-control" name="email" id="email" placeholder="Enter your Email" [(ngModel)]="model.email" />
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="username" class="cols-sm-2 control-label">Username</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
              <input type="text" class="form-control" name="username" id="username" placeholder="Enter your Username" [(ngModel)]="model.username" />
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="age" class="cols-sm-2 control-label">Age</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
              <input type="text" class="form-control" name="age" id="age" placeholder="Enter your Age" [(ngModel)]="model.age" />
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="password" class="cols-sm-2 control-label">Password</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
              <input type="password" class="form-control" name="password" id="password" placeholder="Enter your Password" [(ngModel)]="model.password" />
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
              <input type="password" class="form-control" name="confirm" id="confirm" placeholder="Confirm your Password" [(ngModel)]="model.confirmPassword" />
            </div>
          </div>
        </div>
        <div class="form-group ">
          <button type="submit" class="btn btn-success">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>

